*.apk
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
.idea/gradle.xml
/keystore.properties
/release_note.txt
fastlane/report.xml
*.hprof
vendor/bundle
.bundle
Gemfile.lock
/buildSrc/build
fastlane/Configs